/* Navbar Grundstil */
.navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* Branding-Schrift und Größe */
.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.1rem;
}

/* Mobil */
@media (max-width: 576px) {
  .navbar-nav .nav-item {
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 991px) {
  .navbar {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
  }

  .navbar-brand {
    font-size: 1.8rem;
  }

  .nav-link {
    font-size: 1rem;
  }
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1399px) {
  .navbar {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }

  .navbar-brand {
    font-size: 2.1rem;
  }

  .nav-link {
    font-size: 1.1rem;
  }
}

/* Große Desktops */
@media (min-width: 1400px) {
  .navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .navbar-brand {
    font-size: 2.35rem;
  }

  .nav-link {
    font-size: 1.3rem;
  }
}

